//Variables

$blueBlack: #021C1E;
$cadetBlue: #004445;
$rain: #2C7873;
$greenery: #6FB98F;
$peach: #FFE6E6;


body{
    padding-top: 100px;
}
li{
    list-style: none;
}
#mainNav{
    background-color: $blueBlack;
    padding: 10px;
    color: $rain;
    a{
        color: $rain;
    }
    .dropdown-menu{
        background-color: $peach;
        margin: 8.5px;
    }
}
