//Variables

$blueBlack: #021C1E;
$cadetBlue: #004445;
$rain: #2C7873;
$greenery: #6FB98F;
$peach: #FFE6E6;
$black: #000000;

// Base
body{
    h1{
        color: $greenery;
    }
}
li{
    list-style: none;
}
//--------------------Navbar-------------------
#mainNav{
    background-color: $blueBlack;
    color: $rain;
    padding: 5px;
    a{
        color: $rain;
    }
    .dropdown-menu{
        background-color: $peach;
    }
    #userName{
        margin-top: 2px;
    }
}
//-------------------Sections------------------

// Home block
#home{

    padding-top: 100px;
    text-align: center;
    #logo{
        img{}
        width: 10%;
        max-height: 10%;
        display: flex;
    }
}

#carousel{
    margin: 0 auto;
    width: 100%;

}
// Products block
#products{
    padding-top: 100px;
    background-color: $cadetBlue;
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 4;
        text-align: center;
        padding: 5px;
    }
    li{
        margin: 1%;
        width: 30%;
    }
    img{
        max-width: 80%;
        height: 50%;
    }

    .modal{
        width: 60%;
        margin: 0 auto;
        padding: 5px;
        img{
            width: 100px;
            height: auto;
            display: -webkit-inline-box;
        }
        p{
            width: 50%;
            margin: 0 auto;
        }
    }
}

#productItem{
    background-image:
    radial-gradient(
      $greenery,
      $rain
    );
    padding: 10px;
    border-radius: 10px;

    img{
        padding: 5px;
        width: auto;
        height: 150px;
    }
}

//-------------API block------------
#location{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $rain;
    margin: 0 auto;
}

//----------About Us block------------
#about{
    padding: 100px 20px;
    background-color: $greenery;
    color: $black;
    h1{
        color: inherit;
    }
}

//----------------Footer------------------
footer{
    background-color: $peach;
    text-align: center;
    padding-bottom: 200px;
    input{
        text-align: center;
        width: 50%;
        margin-top: 5%;
    }
    cite{
        padding-bottom: 200px;
    }
}
