//Variables

$blueBlack: #021C1E;
$cadetBlue: #004445;
$rain: #2C7873;
$greenery: #6FB98F;
$peach: #FFE6E6;
$black: #000000;

// Base
body{
    h1{
        color: $greenery;
    }
}
li{
    list-style: none;
}
//--------------------Navbar-------------------
#mainNav{
    background-color: $blueBlack;
    color: $rain;
    padding: 5px;
    a{
        color: $rain;
    }
    .dropdown-menu{
        background-color: $peach;
    }
    #userName{
        margin-top: 2px;
    }
}
//-------------------Sections------------------

// Home block
#home{
    background-image: url("/css/images/home.jpg");
    height: 100vh;
    padding: 100px;
    text-align: center;
}

// Products block
#products{
    height: 100vh;
    background-color: $cadetBlue;
    ul{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 5px;
    }
    li{
        max-width: 40%;
        margin: 1%;
    }
}

#productItem{
    background-image:
    radial-gradient(
      $greenery,
      $rain
    );
    border-radius: 10px;
    // text-align: center;

    img{
        padding: 5px;
        width: 100px;
        height: 100px;
    }
}
// this is for the click event, uncomment to see layout on click
#productInfoShow{
    background-color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    float: right;
    max-width: 50%;
}

// API block
#location{
    height:100vh;
    background-color: $rain;
}

// About Us block
#about{
    height: 100vh;
    background-color: $greenery;
    color: $black;
    h1{
        color: inherit;
    }
}

//----------------Footer------------------
footer{
    background-color: $peach;
    height: 200px;
    text-align: center;
    input{
        text-align: center;
        width: 50%;
        margin-top: 5%;
    }
}
