//Variables

$blueBlack: #021C1E;
$cadetBlue: #004445;
$rain: #2C7873;
$greenery: #6FB98F;
$peach: #FFE6E6;
$black: #000000;

// Base
body{
    letter-spacing: 2px;
    h1{
        color: $greenery;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        padding-bottom: 50px;
        letter-spacing: 2px;
    }
}
li{
    list-style: none;
}
//--------------------Navbar-------------------
#mainNav{
    background-color: $blueBlack;
    color: $rain;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    a{
        color: $rain;
    }
    .dropdown-menu{
        background-color: $peach;
    }
    #userName{
        margin-top: 2px;
    }
}
//-------------------Sections------------------

// Home block
#home{
    padding-top: 100px;
    text-align: center;
    #logo{
        width: 10%;
        max-height: 10%;
        display: flex;
    }
    #carousel{
        margin: 0 auto;
        width: 100%;
    }
    #navSearch{
        margin-left: 310px;
    }
}



// Products block
#products{
    padding-top: 100px;
    background-color: $cadetBlue;
    ul{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 5px;
    }
    li{
        margin: 1%;
        width: 30%;
        #preview{
            color: white;
            letter-spacing: 2px;
            text-decoration: none;
        }
        #preview:hover{
            color: $greenery;
        }
    }
    img{
        max-width: 80%;
        height: 50%;
    }

    .modal{
        width: 60%;
        margin: 0 auto;
        padding: 5px;
        padding-bottom: 5px;
        img{
            width: 200px;
            height: auto;
            display: -webkit-inline-box;
            margin: 0 auto;
            padding: 5px;
        }
        p{
            width: 50%;
            margin: 0 auto;
        }
    }
}

#productItem{
    background-image:
    radial-gradient(
      $greenery,
      $rain
    );
    padding: 10px;
    border-radius: 10px;

    img{
        padding: 5px;
        width: auto;
        height: 150px;
    }
}

//-------------API block------------
#location{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $rain;
    margin: 0 auto;
    h1{
        color: $cadetBlue;
    }

}

//----------About Us block------------
#about{
    padding: 100px 20px;
    background-color: $greenery;
    color: $black;
    letter-spacing: 2px;
    h1{
        color: #FFFFFF;
        margin-bottom: 50px;
    }
    h3{
        font-family: 'Merriweather Sans', sans-serif;
    }
    h4{
        font-weight: 300;
    }
    #steph{
        #stephImg{
            display: inline-block;
            float: left;
            height: 200px;
            margin-right: 30px;
        }
        h4{
            padding: 10px;
            width: 80%;
            color: $cadetBlue;
        }
        margin: 50px 0;
    }
    #blaine{
        #blaineImg{
            display: inline-block;
            float: right;
            height: 220px;
            margin-right: 20px;
        }
        h2{
            margin-left: 64%;
        }
        h3{
            margin-left: 61%;
        }
        h4{
            padding: 0 -15px 0 100px;
            width: 60%;
            margin-left: 176px;
            color: $cadetBlue;
        }
        margin: 50px 0;
    }

    #jes{
        #jesImg{
            display: inline-block;
            float: left;
            height: 200px;
            margin-right: 30px;
        }
        h4{
            padding: 10px;
            width: 80%;
            color: $cadetBlue;
        }
        margin: 50px 0;
    }
}

//----------------Footer------------------
footer{
    padding-top: 50px;
    background-color: $peach;
    text-align: center;
    padding-bottom: 200px;
    input{
        text-align: center;
        width: 50%;
        margin-top: 5%;
    }
    cite{
        padding-bottom: 200px;
    }
    #subscribe{
        padding: 10px;
    }
    #footer{
        margin-top: 200px;
    }
}

//-----------------Mobile---------------------
@media(max-width:800px){
    h1{
        text-align: center;
    }

    #about{
        #steph{
            #stephImg{
                margin: 0 auto;
                display: block;
                clear: both;
                float: none;
                padding-bottom: 20px;
            }
            h2, h3, h4{
                margin: auto;
                text-align: center;
            }
            h4{
                padding-top: 20px;
                width: 50%;
                clear: left;
            }
        }
        #blaine{
            #blaineImg{
                margin: 0 auto;
                display: block;
                clear: both;
                float: none;
                padding-bottom: 20px;
            }
            h2, h3, h4{
                margin: auto;
                text-align: center;
            }
            h4{
                padding-top: 20px;
                width: 50%;
                clear: left;
            }
        }
        #jes{
            #jesImg{
                margin: 0 auto;
                display: block;
                clear: both;
                float: none;
                padding-bottom: 20px;
            }
            h2, h3, h4{
                margin: auto;
                text-align: center;
            }
            h4{
                padding-top: 20px;
                width: 50%;
                clear: left;
            }
        }
    }
}
@media(max-width:700px){

    #home{
        padding-top: 150px;
        height: 100vh;
        #product{
            .modal{
                width: 100%;
            }
        }
        #navSearch{
            margin-left: 0;
        }
    }

    #products{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        ul{
            display: block;

        }
        #productItem{
            height: 250px;
            width: 200px;
            min-height: 20%;
            margin: 5px;

        }
        .modal{
            min-width: 100%;
            margin: 0;
            p{
                width: 80%;
            }
        }
    }
    #about{
        #steph{
            h4{
                width: 80%;
            }
        }
        #blaine{
            h4{
                width: 80%;
            }
        }
        #jes{
            h4{
                width: 80%;
            }
        }
    }
    footer{
        padding-top: 100px;
        height: 100vh;

        cite{
            margin-top: 100px;
            padding: 10px;
        }
    }
}
