body {
  padding-top: 100px; }

li {
  list-style: none; }

#mainNav {
  background-color: #021C1E;
  padding: 10px;
  color: #2C7873; }
  #mainNav a {
    color: #2C7873; }
  #mainNav .dropdown-menu {
    background-color: #FFE6E6;
    margin: 8.5px; }
