<footer>
    <div class="container">
        <br>
        <h4 id="footer">Join our mailing list</h4>
        <form method="post">
            <div class="form-group ">
                <input id="subscribe" type="text" name="" placeholder="Email"/><br><br>
                <button class="btn" ng-click ="ctrl.subscribeToNews();">Sign Up</button>
            </div>
        </form>
        <br><br><br><br><br>
    </div>
    <p>
        <cite>© 2016 Design and Development by Stephanie, Jessica and Blaine.</cite>
    </p>
</footer>
